
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.calc {
    position: relative;
    width: 340px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 15px 15px 20px rgb(111, 107, 107),
    -15px -15px 20px #fff;
} 
.calc .buttons {
    position: relative;
    display: grid;
}
.calc .buttons #value {
    position: relative;
    grid-column: span 4;
    width: 100%;
    user-select: none;
    overflow: none;
    text-align: right;
    height: 100px;
    line-height: 100px;
    box-shadow: inset 5px 5px 10px rgb(111, 107, 107);
    border-radius: 10px;
    border-bottom: 12px;
    font-weight: normal;
}
.calc .buttons .button {
    position: relative;
    padding: 10px;
    box-shadow:5px 5px 10px rgb(111, 107, 107);
    margin: 10px;
}
